{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react-prefer-function-component/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },

  "plugins": [
    "react",
    "react-hooks",
    "react-prefer-function-component",
    "prettier"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-array-index-key": "off",
    "arrow-body-style": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-unused-vars": ["warn"],
    "no-restricted-exports": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "tabWidth": 2,
        "arrow-body-style": [
          "error",
          "as-needed",
          { "requireReturnForObjectLiteral": true }
        ]
      },
      {
        "usePrettierrc": true
      }
    ]
  }
}
