@import '../../../scss/index.scss';

.register-form {
  text-align: left;

  .ant-form-item {
    &:nth-child(6),
    &:last-of-type {
      margin: 10px 0;
    }
  }

  &__input {
    .ant-input-prefix {
      i {
        font-size: 0em + 22px / $defaultFontSize;
      }
    }
    input {
      margin-top: -4px;
      font-size: 0em + 20px / $defaultFontSize;
      padding: 10px 10px !important;
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
  }
  &__select {
    .ant-select-selector {
      height: 55px !important;
      margin-top: -5px;
      padding: 4px 5px 5px 14px !important;
      font-size: 0em + 20px / $defaultFontSize;
      align-items: center !important;
      justify-content: center !important;
    }
  }
  &__button {
    width: 100%;
    font-size: 0em + 22px / $defaultFontSize;
    background-color: $primary-color;
    color: $font-light;
    height: 42px;

    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
    }
    &:focus,
    &:active {
      background-color: $primary-color;
      color: $font-light;
      border: 0;
    }
  }
}
